/* skip link */

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* buttons */

.button {
  border: none;
  border-radius: 4px;
  padding: var(--size-100);
}

.button__link {
  display: inline-block;
  background: #e9e9ed;
  color: black;
  text-decoration: none;
  margin: var(--size-100);
}

/* site header */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--background);
}

.site-header__left {
  font-size: var(--size-700);
  font-weight: 700;
  text-decoration: none;
}

/* post list */

.post-list__item {
  text-decoration: none;
}
